@use '@angular/material' as mat;

@include mat.core();

$primary: mat.define-palette(mat.$grey-palette, 700);
$accent: mat.define-palette(mat.$red-palette, 700);
$warn: mat.define-palette(mat.$amber-palette, 400);

$theme: mat.define-light-theme((
  color: (
    primary: $primary,
    accent: $accent,
    warn: $warn
  )
));

@include mat.all-component-themes($theme);
